$btn: #61b23a;
$prize: #ffd582;
$prizeText: #6e6e6e;

html {
  font-size: 62.5%;
}
main {
  width: 100vw;
  height: 92vh;
  overflow: auto;
  .headerImg {
    width: 100vw;
    height: 16vh;
    background-color: grey;
    text-align: end;
    position: relative;
    top: 0;
    left: 0;
    img {
      padding: 1.4rem;
    }
    .userTop {
      width: 100vw;
      height: 20vh;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: end;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      .userIcon {
        width: 12rem;
        height: 12rem;
        background-color: tomato;
        border-radius: 50%;
      }
      .editBtn {
        padding: 0.8rem 4rem;
        background-color: $btn;
        border-radius: 7.8rem;
        font-size: 1.6rem;
        text-align: end;
        color: white;
      }
    }
  }
  h2 {
    font-size: 1.6rem;
    margin: 7rem 0 0 2rem;
  }
  .prText {
    font-size: 1.2rem;
    margin: 3rem 2rem 4.4rem 2rem;
  }
  .prizeWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1rem;
    .prize {
      width: 8rem;
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $prize;
      border-radius: 50%;
      p {
        padding-top: 0.4rem;
        font-size: 1.2rem;
        color: #6e6e6e;
      }
    }
    .lockWrap {
      // width: 100vw;
      height: 0vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 1rem;
      overflow: hidden;
      transition: height 0.5s ease-in-out;
      // border: 1px solid tomato;
      .lock {
        background-image: url("../img/lock.png");
      }
    }
    .moreBtn {
      width: 100%;
      padding-right: 1.4rem;
      display: flex;
      justify-content: flex-end;
      .more {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.2rem;
      }
      .more::before {
        content: "";
        width: 1rem;
        height: 1rem;
        display: inline-block;
        background-image: url("../img/toggle.svg");
        background-position: center center;
        // background-size: cover;
        // border: 1px solid tomato;
        transform: rotate(180deg);
      }
      .more.rotated::before {
        transform: rotate(0deg);
      }
    }
  }
  section {
    width: 100vw;
    height: 12rem;
    display: flex;
    justify-content: space-evenly;
    margin: 2.4rem 0;
    .postImg {
      width: 12rem;
      height: 12rem;
      background-color: tomato;
    }
    .postText {
      width: 60vw;
      height: 12rem;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.2rem;
        margin: 0.6rem 0;
      }
    }
  }
}
